!!!
%html.no-js
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "all", type: false
    = javascript_include_tag "modernizr", type: false
    = partial "typekit"
    = partial "analytics"
    = yield_content :head
    -# %meta{content: page_description, name: "description"}
    %title= page_title
  %body
    /[if lt IE 8]
      = partial "compatibility-notice"
    = partial "header"
    %main(role="main")
      %h1= page_title
      = yield
    = partial "footer"
    = javascript_include_tag "vendor", "app", type: false
    = yield_content :end
